/choice_of_tasks.*
/README.md
/lecture.pdf
/.gitignore
# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# Testing
TestResults/
*.trx
*.coverage
*.coveragexml

# NuGet
packages/
*.nupkg
*.snupkg

# Rider
.idea/

# Dotnet tools
.dotnet/